.DS_Store
*~

/vendor/

# Build artifacts from phpize / configure / make
/.libs/
/.deps
/build/
/modules/
/autom4te.cache/
*.o
*.lo
*.la
*.dep

/acinclude.m4
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.ac
/libtool
/ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/install-sh
/missing
/mkinstalldirs
/run-tests.php
/tmp-php.ini
/php_test_results_*.txt

# Dev files
_dev/
