parameters:
    paths:
        - tests/phpunit
    scanFiles:
        - Complex/complex.stub.php
        - phpstan/complex_constants.php
        - Rational/rational.stub.php
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false

services:
    -
        class: OceanMoon\Math\PHPStan\ComplexBinaryOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\ComplexUnaryOperatorExtension
        tags:
            - phpstan.broker.unaryOperatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\RationalBinaryOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\RationalUnaryOperatorExtension
        tags:
            - phpstan.broker.unaryOperatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\RationalComparisonOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
