parameters:
    paths:
        - tests/phpunit
    scanFiles:
        - oceanmoon_math.stub.php
        - phpstan/constants.php
    bootstrapFiles:
        - tests/bootstrap.php

services:
    -
        class: OceanMoon\Math\PHPStan\ComplexBinaryOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\ComplexUnaryOperatorExtension
        tags:
            - phpstan.broker.unaryOperatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\ComplexComparisonOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\RationalBinaryOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\RationalUnaryOperatorExtension
        tags:
            - phpstan.broker.unaryOperatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\RationalComparisonOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\VectorBinaryOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\VectorUnaryOperatorExtension
        tags:
            - phpstan.broker.unaryOperatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\MatrixBinaryOperatorExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
    -
        class: OceanMoon\Math\PHPStan\MatrixUnaryOperatorExtension
        tags:
            - phpstan.broker.unaryOperatorTypeSpecifyingExtension
